<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.timetable">

    <application
        android:icon="@mipmap/ic_icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:allowBackup="true">
        <activity
            android:name=".SelectListItemActivity"
            android:label="" />
        <activity
            android:name=".AddScheduleActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListScheduleActivity"
            android:label="Расписание"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddTeachersActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddItemsActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListTeacherActivity"
            android:label="Преподаватели"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListItemsActivity"
            android:label="Предметы"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>